npm-debug.log
node_modules
.project
.vscode
.history
.DS_Store
\.settings/
build/env.js
dist/
src/views/access
src/views/advanced-router
src/views/form
src/views/table
src/views/own-space
src/views/international